
.container{
    display: flex;
    width: 80%;
    display: flex;
    margin: 0 100px;
    justify-content: center
}

.left{
    width: 200px;
    border-right: 1px solid black;
}

.right{
    width: 65%;
    padding-left: 20px;
    padding-top: 20px;
}

img{
    border-radius: 50%;
    border: 1px solid grey;
    display:block;
    margin:auto;
}

.detail{
    padding-right: 20px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 40px 35px;
    margin: 5px;
  }

li{
    padding: 3px;
}

.beagle{
    color: blue;
   
}