*{
    box-sizing: border-box;
    margin: 0 5px;
    font-family: 'STIX Two Math', serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    width: 200px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px 5px 10px 0;
    text-decoration: none;
}

header div{
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin: 0;
    
}

.container-header{
    display: flex;
    justify-content: space-between;

}

h2{
    border-right: 1px solid black;
    padding: 5px 5px 5px 0;
    margin: 0;
}

span{
    font-size: 12px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

table{
    font-size: 10px;
}

.container{
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    margin: 0 5px;
}

.section1, .section2, .section3{
    right: 15px;
    left: 15px;
}

.section1{
    display: grid;
    grid-auto-rows: 1fr;
    position: fixed;

    background-image: url("https://p9cdn4static.sharpschool.com/UserFiles/Servers/Server_458672/Image/News/technology.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 97%;
    height: 250px;
}

.text1{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 20%;
    background-color: rgb(58, 108, 201);
    padding: 2px;
}

.text1 div{
    border-bottom: 1px dotted white;
    color: white;
    font-size: 14px;
    padding-bottom: 2px;
}

.text1 p{
    padding: 2px 0;
    font-size: 10px;
    color: white;
}

.text2{
    position: absolute;
    top: 220px;
    background-color: rgb(58, 108, 201);
    font-size: 40px;
    color: white;
    text-align: right;
    right: 5px;
    padding: 5px;
}



.section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    width: 98%;
    top: 400px;
    border-bottom: 2px dotted grey;
    padding-bottom: 25px; 
}

.title{
    border-bottom: 1px dotted grey;
    font-size: 14px;
    font-weight: bold;
}

.section2 div{
    background-color: rgb(226, 225, 225);
    color: black;
    padding: 5px;
    font-size: 14px;
    
}


.section2 p, .section3 p{
    font-size: 10px;
    padding-top: 5px;
    
}

div .rectangle{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 200px;
    border: 1px solid grey;
    background-color: rgb(53, 52, 52);
    color: white;
    background-clip: content-box;
    box-shadow: inset 0 0 0 5px white;
}

.section2 a{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: blue;
    font-size: 10px;
    font-weight: bold;
}

.section3{
    display: grid;
    grid-template-columns: 200px 2fr 1.5fr;
    position: fixed;
    top: 650px;
    padding-bottom: 25px; 
    width: 98%;
    height: 150px;
}

.section3 div{
    top: 650px;
    
}

.rectangle2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    width: 100%;
    border: 1px solid grey;
    background-color: rgb(53, 52, 52);
    color: white;
    background-clip: content-box;
    box-shadow: inset 0 0 0 5px white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.text3 div{
    font-size: 16px;
    font-weight: normal;
}

.section3 a{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: blue;
    font-size: 10px;
    font-weight: bold;
    padding: 0;
}

.text3{
    width: 95%;
    border-bottom: 2px dotted grey;
    padding: 5px;
    font-size: 14px;
}


.categories{
    padding-right: 0px;
    margin-right: 0px;
}
.categories p{
    background-color: rgb(241, 241, 241);
    font-size: 20px;
    border-bottom: 2px dotted rgb(161, 161, 161);
}

.categories a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px dotted grey;
    font-size: 10px;
    padding: 5px 5px 0 5px;
    background-color: rgb(241, 241, 241);
    /* width: 250px; */
} 

.categories a:last-child{
    margin-bottom: 5px;
}

.section4{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: fixed;
    top: 820px;
    padding-bottom: 25px; 
    width: 98%;
    height: 100px;
}

.rectangle3{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
    /* width: 174px; */
    border: 1px solid grey;
    background-color: rgb(53, 52, 52);
    color: white;
    background-clip: content-box;
    box-shadow: inset 0 0 0 5px white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(58, 108, 201);
    position: fixed;
	width: 99%;
    height: 30px;
	left: 0;
	bottom: 0;
	color: white;
	text-align: center;
    font-size: 13px;
}










